@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: #000 !important;
}

.nav-link {
    color: #fff !important;
}

#logo {
    color: #fff;
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
}

.jumbotron {
    padding: 30px;
    font-weight: bolder;
    background: url('../../assets/images/retro.jpg') center / cover no-repeat;
}